rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Any signed-in user can read/write all documents
    // Tighten these rules before deploying to production
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
